.App {
  width: 100vw;
  height: 100vh;
}
.Sidebar {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.actions {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: stretch;
  gap: 50px;
}
